* {
    margin: 0;
    padding: 0;
    color: rgb(30, 126, 11);
}

body {
   background-color: rgb(238, 238, 16);

img {
    width: 120px;
    border-radius: 50%;
    margin: 15px;
    margin-left: 140px;
    margin-top: 25px;
}

h1 {
    margin-left: 15px;
    margin-top: 20px;
}

h2 {
    margin-left: 40px;
    margin-top: 50px;
}

ul {
    margin: 50px;
    margin-top: 15px;
    font-size: 20px;
}

li > a {
    text-decoration: none;
}

ul>li>a:hover{
    color: rgb(101, 216, 78);
}

fieldset{
    margin: 40px;
    outline-style: dotted;
    border: none;
}

.nav>ul {
    display: flex;
    list-style: none; gap: 10px;
    
}

.nav>ul>li>a{
    padding: 5px;
    background-color: rgb(30, 126, 11);
    color: rgb(238, 238, 16);
    border-radius: 8px;
}