* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: white;
}

/* -----Navbar---- */

.navbar {

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: rgba(241, 67, 67, 0.183) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.navbar .nav-left {
    display: flex;
    margin-left: 70px;

}

.navbar .nav-left a {
    font-family: "Permanent Marker", cursive;
    text-decoration: none;
}

.navbar .nav-left a img {
    width: 70px;
}

.navbar .nav-left span {
    color: rgb(126, 19, 19);
}

.navbar .nav-right {
    display: flex;
    margin-right: 40px;
}

.navbar .nav-right a {
    padding-right: 15px;
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
}

.navbar .nav-right a:hover {
    color: rgb(126, 19, 19);
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container .main-left {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 14px;
    margin-left: 40px;

}

.container .main-left .h2-one {
    font-size: 65px;
    font-weight: 700;
    color: #ffffff;

}

.container .main-left .h2-one .dot {
    color: #2556dc;
}

.container .main-left h2 .one:hover {
    color: rgb(126, 19, 19);
}

.container .main-left h2 .two:hover {
    color: rgb(126, 19, 19);
}

.container .main-left h2 .three:hover {
    color: rgb(126, 19, 19);
}

.container .main-left h2 .four:hover {
    color: rgb(126, 19, 19);
}

.container .main-left h2 .five:hover {
    color: rgb(126, 19, 19);
}


.container .main-left p {
    font-size: 24px;
    margin: -12px 0 10px 4px;

}

.container .main-left h3 {
    font-size: 40px;
    margin-bottom: 12px;
}

.container .main-left button {
    padding: 3px;
    font-size: 15px;
    width: 120px;
    border: 1px solid #2556dc;
    border-radius: 4px;
    color: #2556dc;
    background: transparent;
    margin-right: 5px;
}

.container .main-left button:hover {
    color: white;
    background-color: rgb(126, 19, 19);
    border: none;
}
.container .main-left button::before {
    color: white;
    background-color: rgb(126, 19, 19);
    border: none;
}

.container .main-right video {
    margin-left: 600px;
    width: 500px;
    margin-top: 1px;
}


.container .main-right .h4-one {
    position: absolute;
    margin-left: 620px;
    margin-top: 70px;
    font-size: 16px;

}

.container .main-right .h4-two {
    position: absolute;
    margin-left: 640px;
    bottom: 50px;
    font-size: 16px;
}

@media only screen and (max-width: 900px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-left a img {
        width: 120px;
        padding-right: 55px;
        margin-top: 10px;
        margin-right: 10px;

    }

    .navbar .nav-right {
        display: none;
    }

    .container {
        flex-direction: column;
    }

    .container .main-left {
        margin: 80px 14px 20px 15px;
        padding: 0;
    }

    .container .main-right video {
        margin-left: 10px;
        width: 320px;
        margin-top: 300px;
    }

    .container .main-left .b1 {
        width: 100px;
    }

    .container .main-left .b2 {
        width: 95px;
    }
    
    .container .main-left .b3 {
        width: 90px;
    }
    
    .container .main-left h3 {
        font-size: 35px;
    }

}