* {
    margin: 0;
    padding: 0;
    color: rgb(30, 126, 11);
}

body {
   background-color: rgb(238, 238, 16);

img {
    width: 120px;
    border-radius: 50%;
    margin: 15px;
    margin-left: 140px;
    margin-top: 25px;
}

h1 {
    margin-left: 15px;
    margin-top: 20px;
}

h2 {
    margin-left: 40px;
    margin-top: 50px;
}

ul {
    margin: 50px;
    margin-top: 15px;
    font-size: 20px;
}

li > a {
    text-decoration: none;
}

li >a:hover {
    color: rgb(83, 84, 86);
}

ul>li>a:hover{
    color: rgb(101, 216, 78);
}